*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

body {
    background-color: black;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    border-bottom: 2px solid #569ddc;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}
/* logo Image */
.header .logo img {
    height: 6rem;
    filter: invert(1);
}
/* NavBar Header */
.header .navbar {
    display: none;
}
.header .navbar a {
    display: block;
    margin: 1.5rem;
    padding: .5rem;
    font-size: 1rem;
}
.header .navbar a:hover {
    color: #569ddc;
    border-bottom: .1rem solid #569ddc;
    padding-bottom: .5rem;
}
/* Header icons */
.header .icons {
    display: flex;
}
.header .icons div {
    color: #fff;
    cursor: pointer;
    font-size: 2.0rem;
    margin-left: 2rem;
}
.header .icons div:hover{
    color: #569ddc;
}
/* esconder logo dependiendo de desktop */
#allServices.allServices-btn{
    display: inline-block;
    /* display: none; */
}

/* Media queries */

/* Tablet */
@media(min-width: 768px){
    .header{
        padding: 1.5rem 7%;
    }
    .header .navbar a {
        margin: 0 1rem;
        font-size: 1.6rem;
        color: #fff;
    }
}
/* DeskTop */
@media(min-width: 1024px){
    .header .navbar {
        display: flex;
    }
}