*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    color: white;
    background-color: #4980b1;
}

/* Header */
header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;    
}

.logo{
    width: 200px;
}

.imagen{
    width: 100%;
    height: 100px;
    margin: auto;
}

.hamburguesa{
    display: block;
    color: #4963ba;
    font-size: 25px;
    max-width: 25px;
    padding: 10px 10px;
    margin-right: 10px;
}

.logo-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Main */
main{
    background-color: #4980b1;
    color: #313438;
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

h1{
    font-family: 'EB Garamond', serif;
}

h3{
    margin-top: 40px;
}

.lista-home{
    display: none;
}


/* VISTA MODO TABLET */
@media (min-width: 770px) {

/* Header */
.hamburguesa{
    display: none;
}

/* Main */
.lista-home{
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
    
}

.lista-home li{
    list-style: none;
}

.lista-home a{
    text-decoration: none;
    color: #313438;
    background-color: #4963ba;
    border-radius: 4px;

}

}