*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    color: white;
    background: linear-gradient(to top, #313438, #4980b1);
}

/* MAIN */
main{
    width: 100vw;
    background: linear-gradient(to top, #313438, #4980b1);
    margin: auto;
    padding-block: 16px;
    padding-inline: 16px;
}

.logo{
    position: absolute;
    bottom: 200px;
    opacity: 0.35;
}


.imagen{
    width: 100%;
    height: 450px;
    filter: invert(100%);    
    
}

.titulo-texto{
    text-align: center;
}

h1{
    font-size: 40px;
}
h2{
    font-size: 22px;
}

.nosotros{
    margin-top: 60px;
    text-align: center;
}

p{
    font-size: 15px;
}

/* Hamburguesa */
.hamburguesa{
    display: block;
    color: #4963ba;
    font-size: 25px;
    max-width: 50px;
    padding: 10px 20px;
    background-color: #8092a4;
    margin: auto;
    margin-top: 30px;
    border-radius: 20px;
    padding-block: 14px;
    padding-inline: 14px;
}

/* Menu */
.lista-home{
    display: none;
}


/* FOOTER */
.footer{
    background-color: #313438;
    padding-block: 16px;
    padding-inline: 16px;
    text-align: center;
    justify-content: center;
}
.sub-section-footer{
    padding: 0px 10px;
    margin-top: 20px;    
}
.main-container-footer h2{
    color: #fff;
    padding-top: 10px;
    margin-bottom: 10px;
}
.main-container-footer h4{    
    display: none;
}
.main-container-footer p{
    color: #fff;
    font-size: 10px;
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: left;
}
/* Footer Icons */
.fa-handshake{
    color: #F7D5AD;
    margin-bottom: 5px;
}
.fa-newspaper{
    color: #F7D5AD;
    margin-bottom: 5px;
}
.fa-lock{
    color: #F7D5AD;
    margin-bottom: 5px;
}
.fa-circle-info{
    color: #F7D5AD;
    margin-bottom: 5px;
}


/* VISTA TABLET */
@media (min-width: 770px) {

.imagen{
    margin-left: 100px;
}

h1{
    font-size: 55px;
}
h2{
    font-size: 25px;
}
h3{
    font-size: 23px;
}
p{
    font-size: 20px;
}


    /* Desaparece la hamburguesa */
.hamburguesa{
    display: none;
}

/* Aparece el menu completo */
.lista-home{
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;    
}

.lista-home li{
    list-style: none;
}

.lista-home a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    background-color: #4963ba;
    padding: 11px;
    border-radius: 6px;
}

/* FOOTER */
.main-container-footer{
    margin-top: 150px;
}

.sub-main-footer-section{
    display: flex;
    justify-content: space-around;  
}
}

/* VISTA COMPUTADORA */
@media (min-width: 1024px){

/* MAIN */
.imagen{
    margin-left: 200px;
}

h1{
    font-size: 90px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 35px;
}
p{
    font-size: 25px;
}

.lista-home{
    margin-top: 150px;
}

.lista-home a{
    font-size: 30px;
}

.lista-home a:hover{
    background-color: gold;
    padding: 20px;
}

.lista-home a{
    transition: all 450ms;
}

/* FOOTER */
footer{
    height: 400px;
}

.main-container-footer{
    margin-top: 200px;
}
.sub-main-footer-section{
    display: flex;
    justify-content: space-around;    
}
.main-container-footer h4{
    display: block;
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
}

.sub-section-footer:hover{
    padding: 20px;
}

.main-container-footer h4:hover{
    color: gold;
}

.sub-section-footer, .main-container-footer h4{
    transition: all 450ms;
}

}



