/* Universales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;
}

/* HEADER */
header {
    display: flex;
    width: 100%;
    overflow: hidden;
    background-color: #313438;
    margin-bottom: 0px;
}

img {
    width: 10%;
    margin: 20px;
    line-height: 200px;
    float: left;
    filter: invert(100%);
}

.head {
    width: 90%;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

header nav {
    float: right;
    line-height: 200px;
}

header nav a {
    display: inline-block;
    padding: 10px 20px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
}

header nav a:hover {
    background-color: grey;
    border-radius: 50px;
}

/* MAIN */
body main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(/images/fondo-negro.jpg);
    background-size: cover;
}

.container-form {
    display: flex;
    max-width: 900px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, .1);
    transition: all 1s ease;
    margin: 10px;
}

/* TEXTO IZQUIERDA */
.information {
    display: flex;
    width: 50%;
    align-items: center;
    text-align: center;
    background-color: transparent;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.info-childs {
    width: 100%;
    padding: 0 30px;
}

.info-childs h2 {
    font-size: 2.5rem;
    color: white;
}

.info-childs p {
    margin: 5px;
    color: white;
    font-size: 2rem;
}

/* TEXTO DERECHA */

.form-information {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
    text-align: center;
    background-color: transparent;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: 4px solid #000; /* ver como achicar la linea */
}

.form-information-childs {
    padding: 0 30px;
}

.form-information-childs h2 {
    color: white;
    font-size: 2rem;
}

.form-information-childs p {
    color: white;
}
/* Iconos */
.iconito {
    border-radius: 50px;
    padding: 5px;
    cursor: pointer;
    margin: 0 10px;
    transition: all 1s ease;
    color: white;
    border: solid thin grey;
    box-shadow: 0 2px 5px rgba(0, 0, 0, rgba(0, 0, 0, .1));
}

.iconos {
    margin: 15px 0px;
}


.iconos i {
    border-radius: 50px;
    padding: 15px;
    cursor: pointer;
    margin: 0 10px;
    transition: all 1s ease;
    color: white;
    border: solid thin grey;
    box-shadow: 0 2px 5px rgba(0, 0, 0, rgba(0, 0, 0, .1));
}

.iconos i:hover {
    background-color: black;
    color: white
}
/* Formularios */
form {
    margin: 30px 0 0 0;
}

.form label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, rgba(0, 0, 0, .1));
}

.form label input {
    width: 100%;
    padding: 10px;
    background-color: rgb(231, 231, 231);
    border: none;
    outline: none;
    border-radius: 20px;
    color: black;
    margin-left: 10px;
    margin-right: 0px;
}
/* Boton registrarse */
.form input[type="submit"] {
    background-color: #313438;
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, rgba(0, 0, 0, .1));
}

.form input[type="submit"]:hover {
    background-color: black;
    color: white
} 

/* Media queries */


@media screen and (max-width:580px) {
    html {
        font-size: 10px;
    }
    /* MAIN */
    .container-form {
        height: auto;
        flex-direction: column;
    }
    .information {
        width: 100%;
        padding: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0;
    }
    .form-information {
        width: 100%;
        padding: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0px;
        border-left-color: transparent;
    }
}

/* Vista Desktop */
@media screen and (min-width:770px) {
    html {
        font-size: 12px;
    }

    /* header */
    header{
        width: 100%;
        text-align: center;
        line-height: 100px;
    }

}