/* ---------------------------------Universales-------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;
}

/* ------------------------------HEADER---------------------------------- */

/* UNIFICADO en Header.css */

/* MAIN */
body main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(/images/fondito.avif);
    background-size: cover;
}

.container-form {
    display: flex;
    max-width: 900px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, .1);
    transition: all 1s ease;
    margin: 10px;
}

/* TEXTO IZQUIERDA */
.information {
    display: flex;
    width: 50%;
    align-items: center;
    text-align: center;
    background-color: transparent;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.info-childs {
    width: 100%;
    padding: 0 30px;
}

.info-childs h2 {
    font-size: 2.5rem;
    color: white;
}

.info-childs p {
    margin: 5px;
    color: white;
    font-size: 2rem;
}

/* TEXTO DERECHA */

.form-information {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
    text-align: center;
    background-color: transparent;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: 3px solid #000; /* ver como achicar la linea */
}

.form-information-childs {
    padding: 0 30px;
}

.form-information-childs h2 {
    color: white;
    font-size: 2rem;
}

.form-information-childs p {
    color: white;
}
/* -------------------------------Iconos----------------------------- */
.iconito {
    border-radius: 50px;
    padding: 5px;
    cursor: pointer;
    margin: 0 10px;
    transition: all 1s ease;
    color: white;
    border: solid thin grey;
    box-shadow: 0 2px 5px rgba(0, 0, 0, rgba(0, 0, 0, .1));
}

.iconos {
    margin: 15px 0px;
}


.iconos i {
    border-radius: 50px;
    padding: 15px;
    cursor: pointer;
    margin: 0 10px;
    transition: all 1s ease;
    color: white;
    border: solid thin grey;
    box-shadow: 0 2px 5px rgba(0, 0, 0, rgba(0, 0, 0, .1));
}

.iconos i:hover {
    background-color: black;
    color: white
}
/* -------------------------------Formularios------------------------------- */
form {
    margin: 30px 0 0 0;
}

.form label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, rgba(0, 0, 0, .1));
    color: white;
}

.form label input {
    text-transform: none;
    width: 100%;
    padding: 10px;
    background-color: rgb(231, 231, 231);
    border: none;
    outline: none;
    border-radius: 20px;
    color: black;
    margin-left: 10px;
    margin-right: 0px;
}

/* Boton registrarse */
.form input[type="submit"] {
    background-color: #313438;
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, rgba(0, 0, 0, .1));
}

.form input[type="submit"]:hover {
    background-color: black;
    color: white
} 

.errores{
    color:#e00e1f;
    background-color: white;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
}

/* ------------------------------Media queries------------------------------- */


@media screen and (max-width:580px) {
    body {
        font-size: 12px;
    }

    /* MAIN */
    .container-form {
        height: auto;
        flex-direction: column;
    }
    .information {
        width: 100%;
        padding: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0;
    }
    .form-information {
        width: 100%;
        padding: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0px;
        border-left-color: transparent;
    }
}

/* Vista Desktop */
@media screen and (min-width:770px) {
    body {
        font-size: 15px;
    }
}