<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service Dev - Home</title>
</head>
<body>
    <header>
        <img src="/img/logoPrincipal.png" alt="logo">
    </header>
    <main>
        <h1>Encuentra o únete a nuestro equipo,
            ServDev para desarrolladores</h1>
        <h3>ServDev se enfoca en buscar el mejor desarrollador para tus proyectos.</h3>
        
        <!-- Menú principal definido por la siguiente lista -->
        <ul>
            <li>Inicio</li>
            <li>Desarrolladores</li>
            <li>Registrase</li>
            <li>LogIn</li>
            <li>carrito de compras logo</li>
        </ul>
    </main>
</body>
</html>