<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service Dev - Home</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer.css">
    <!-- tipografias google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Lato:ital,wght@1,100&family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <!-- Iconos de font awesome -->
    <script src="https://kit.fontawesome.com/2913a10df8.js" crossorigin="anonymous"></script>
</head>

<body>
    <header></header>
    <!-- MAIN -->
    <main>
        <!-- Logo -->
        <div class="logo">
            <img class="imagen" src="/images/logo-principal.png" alt="logo">
        </div>
        <!-- Titulo y texto con logo de fondo -->       
        <div class="titulo-texto">            
            <h1>ServDev</h1>
            <h2>ServDev se enfoca en buscar el mejor desarrollador para tus proyectos.</h3>
        <!-- Nosotros -->
        <div class="nosotros">
        <h3>Nosotros</h3>
        <p>
            Nos enfocamos en buscar al mejor desarrollador para tus proyectos. A través de nosotros 
            podrás encontrar desarrolladores no solo con experiencia en el campo de la 
            programación, sino también con un bagaje de conocimientos previos en distintas disciplinas 
            proporcionando un valor agregado a cada uno de los perfiles, podrás buscar en nuestra 
            sección de desarrolladores el perfil que más se acople a los requerimientos de tu proyecto 
            y clientes.
        </p>
        </div>
        </div>

        <!-- Hamburguesa -->
        <div class="hamburguesa">
            <i class="fa-solid fa-bars"></i>
        </div>


        <!-- Menú principal definido por la siguiente lista -->
        <ul class="lista-home">
            <li> <a href="/"> Inicio</a></li>
            <li> <a href="/services"> Desarrolladores</a></li>
            <li> <a href="/register/register"> Registrarse</a></li>
            <li> <a href="/login"> LogIn</a></li>
            <li> <a href="/productCart"> <i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
    </main>

    <!-- FOOTER -->
    <footer>

        <%- include('./partials/footer.ejs') %>

    </footer>
</body>
</html>