<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/header.css">
    
<!-- Tipografia -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Lato:ital,wght@1,100&family=Roboto:wght@100;400&display=swap" rel="stylesheet">
<!-- Iconos -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/d517d5ff3f.js" crossorigin="anonymous"></script>

    <title>Login</title>

</head>

<body>
    <!-------------------------------- HEADER --------------------------------------->
    <header class="header">

        <%- include('./partials/header') %>

    </header>
<!-------------------------------- MAIN --------------------------------------->
    <main>
        <div class="container-form">
<!-- Texto izquierda -->
            <div class="information">

                <div class="info-childs">

                    <h2>ServDevolper</h2>

                    <p>Bienvenidos</p>

                </div>

            </div>
<!-- Texto derecha -->
            <div class="form-information">

                <div class="form-information-childs">

                    <h2>Iniciar Sesion</h2>

                    <div class="iconos">
                        <i class='bx bxl-gmail' ></i>
                        <i class='bx bxl-github' ></i>
                        <i class='bx bxl-linkedin' ></i>
                    </div>

                    <p>o usa tu usuario para ingresar</p>

                    <form class="form">

                        <label>
                            <i class='bx bx-user iconito' ></i>
                            <input type="text" placeholder="Usuario">
                        </label>

                        <label>
                            <i class='bx bx-key iconito' ></i>
                            <input type="password" placeholder="Contraseña">
                        </label>

                        <input type="submit" value="Registrarse">

                    </form>

                </div>
                
            </div>

        </div>

    </main>

<!-------------------------------- FOOTER --------------------------------------->

    <footer>

        <%- include('./partials/footer.ejs') %>

    </footer>


</body>

</html>