<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/productDetail.css">
    <title>Document</title>
</head>
<body>

    <header>
        <h1>Busca el mejor desarrollador para tu proyecto</h1>
    </header>

    <main>
        <!-- contenedor principal -->
        <div class="contenedor-main">

            <!-- item section -->
            <div class="item-section">
                <!-- foto de perfil -->
                <img class="foto-perfil" src="" alt="Foto de Perfil">

                <div class="descripcion">
                    <h3>Nombre de la persona</h3>
                    <p>Servicio que ofrece</p>
                </div>

                <!-- Segunda foto importada -->
                <div class="foto-importada">
                    <img src="" alt="Foto importada por el usuario">
                </div>

            </div>

        </div>
    </main>
    
</body>
</html>