<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/productCart.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <!-- Iconos con Font Awesome -->
    <script src="https://kit.fontawesome.com/bb4291841a.js" crossorigin="anonymous"></script>
    <title>Carrito de Compras</title>
</head>
<body>
    <header class="header">

        <%- include('./partials/header') %>

    </header>
    
    <main class="contenedor">
        <nav>
            <i class="fa-solid fa-cart-shopping">
                <div class="comprar-carrito">
                    <ul class="nav-carrito">
                        <li>Imagen</li>
                        <li>Nombre</li>
                        <li>Precio</li>
                        <li>Cantidad</li>
                    </ul>
                    <button>VACIAR CARRITO</button>
                </div>
            </i>
        </nav>
        <h1>Comprar un Servicio</h1>
        <div class="grid">
                <div class="items">
                    <img src="/images/person1.png" alt="Servicio 1">
                    <div class="informacion">
                        <h3>Developer 1</h3>
                        <p>Tatiana Mejia</p>
                        <div class="precio">
                            <p>$100</p>
                        </div>
                        <button>Agregar al carrito</button>
                    </div>
                </div>
                <div class="items">
                    <img src="/images/person2.png" alt="Servicio 2">
                    <div class="informacion">
                        <h3>Developer 2</h3>
                        <p>Mariana Gomez</p>
                        <div class="precio">
                            <p>$200</p>
                        </div>
                        <button>Agregar al carrito</button>
                    </div>
                </div>
                <div class="items">
                    <img src="/images/person3.png" alt="Servicio 3">
                    <div class="informacion">
                        <h3>Developer 3</h3>
                        <p>Juan Duque</p>
                        <div class="precio">
                            <p>$300</p>
                        </div>
                        <button>Agregar al carrito</button>
                    </div>
                </div>
                <div class="items">
                    <img src="/images/person4.png" alt="Servicio 4">
                    <div class="informacion">
                        <h3>Developer 4</h3>
                        <p>Martin Sagalo</p>
                        <div class="precio">
                            <p>$400</p>
                        </div>
                        <button>Agregar al carrito</button>
                    </div>
                </div>
                <div class="items">
                    <img src="/images/person5.png" alt="Servicio 5">
                    <div class="informacion">
                        <h3>Developer 5</h3>
                        <p>Esteban Rojas</p>
                        <div class="precio">
                            <p>$500</p>
                        </div>
                        <button>Agregar al carrito</button>
                    </div>
                </div>
                <div class="items">
                    <img src="/images/person6.png" alt="Servicio 6">
                    <div class="informacion">
                        <h3>Developer 6</h3>
                        <p>Alexa Llano</p>
                        <div class="precio">
                            <p>$600</p>
                        </div>
                        <button>Agregar al carrito</button>
                    </div>
                </div>
                <div class="items">
                    <img src="/images/person7.png" alt="Servicio 7">
                    <div class="informacion">
                        <h3>Developer 7</h3>
                        <p>Camila Castañeda</p>
                        <div class="precio">
                            <p>$700</p>
                        </div>
                        <button>Agregar al carrito</button>
                    </div>
                </div>
        </div>
    </main>

    <footer>

        <%- include('./partials/footer.ejs') %>

    </footer>
    
</body>
</html>