<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/productDetail.css">
    <!-- Icons -->
    <!-- Iconos -->
    <script src="https://kit.fontawesome.com/d517d5ff3f.js" crossorigin="anonymous"></script>

    <title>ProductDetail</title>
</head>
<body>
        <header>
            <div>
                <div>
                    <h1 class="service-center">Service-Dev Productos</h1>
                </div>
                <!-- Logo principal -->
                <img src="/images/logoPrincipal.png" alt="Logo" class="logo-principal">
            </div>
        </header>
    <main>
        <div class="main-container">
            <h1>Busca el mejor desarrollador para tu proyecto</h1>
            <div class="slide-content">
                <div class="card-wrapper">
                    <img src="/images/personExample.png" alt="" class="card-img">

                    <i class="fa-solid fa-user-plus"></i>

                    <div class="card">
                        <div class="card-content">
                            <h1 class="name">Juan Duque</h1>
                            <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>

                        <!-- profile Photo banner -->
                        <img src="/images/profilePhotoExample.jpg" alt="" class="overlay">
                    </div>
                </div>

                <!-- Second image -->
                <div class="card-wrapper">
                    <img src="/images/personExample.png" alt="" class="card-img">

                    <i class="fa-solid fa-user-plus"></i>

                    <div class="card">
                        <div class="card-content">
                            <h1 class="name">Juan Duque</h1>
                            <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>

                        <!-- profile Photo banner -->
                        <img src="/images/profilePhotoExample.jpg" alt="" class="overlay">
                    </div>
                </div>

                <!-- Third image -->
                <div class="card-wrapper">
                    <img src="/images/personExample.png" alt="" class="card-img">

                    <i class="fa-solid fa-user-plus"></i>

                    <div class="card">
                        <div class="card-content">
                            <h1 class="name">Juan Duque</h1>
                            <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>

                        <!-- profile Photo banner -->
                        <img src="/images/profilePhotoExample.jpg" alt="" class="overlay">
                    </div>
                </div>
                <!-- Four image -->
                <div class="card-wrapper">
                    <img src="/images/personExample.png" alt="" class="card-img">

                    <i class="fa-solid fa-user-plus"></i>

                    <div class="card">
                        <div class="card-content">
                            <h1 class="name">Juan Duque</h1>
                            <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>

                        <!-- profile Photo banner -->
                        <img src="/images/profilePhotoExample.jpg" alt="" class="overlay">
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="main-footer">
        <h2>Contactanos</h2>
    <div class="div-footer-primero">
        <nav class="">
            <ul class="">
                <li class=""><a href="" class="">Trabaja con nosotros</a></li>
                <li class=""><a href="" class="">Términos y condiciones</a></li>
                <li class=""><a href="" class="">Privacidad</a></li>
                <li class=""><a href="" class="">Ayuda</a></li>
            </ul>
        </nav>
        <small class="">Copyright ©&nbsp;2023-2024 Service-Dev</small>
    </div>
    </footer>
</body>
</html>