<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/productDetail.css">
    <!-- Icons -->
    <!-- Iconos -->
    <script src="https://kit.fontawesome.com/d517d5ff3f.js" crossorigin="anonymous"></script>

    <title>ProductDetail</title>
</head>
<body>

    <header>
        <h1>HEADER SECCTION</h1>
    </header>

    <main>
        <div class="main-container">
            <h1>Busca el mejor desarrollador para tu proyecto</h1>
            <div class="slide-content">
                <div class="card-wrapper">
                    <img src="/images/personExample.png" alt="" class="card-img">

                    <i class="fa-solid fa-user-plus"></i>

                    <div class="card">
                        <div class="card-content">
                            <h1 class="name">Juan Duque</h1>
                            <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>

                        <!-- profile Photo banner -->
                        <img src="/images/profilePhotoExample.jpg" alt="" class="overlay">
                    </div>
                </div>

                <!-- Second image -->
                <div class="card-wrapper">
                    <img src="/images/personExample.png" alt="" class="card-img">

                    <i class="fa-solid fa-user-plus"></i>

                    <div class="card">
                        <div class="card-content">
                            <h1 class="name">Juan Duque</h1>
                            <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>

                        <!-- profile Photo banner -->
                        <img src="/images/profilePhotoExample.jpg" alt="" class="overlay">
                    </div>
                </div>

                <!-- Third image -->
                <div class="card-wrapper">
                    <img src="/images/personExample.png" alt="" class="card-img">

                    <i class="fa-solid fa-user-plus"></i>

                    <div class="card">
                        <div class="card-content">
                            <h1 class="name">Juan Duque</h1>
                            <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>

                        <!-- profile Photo banner -->
                        <img src="/images/profilePhotoExample.jpg" alt="" class="overlay">
                    </div>
                </div>
                <!-- Four image -->
                <div class="card-wrapper">
                    <img src="/images/personExample.png" alt="" class="card-img">

                    <i class="fa-solid fa-user-plus"></i>

                    <div class="card">
                        <div class="card-content">
                            <h1 class="name">Juan Duque</h1>
                            <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>

                        <!-- profile Photo banner -->
                        <img src="/images/profilePhotoExample.jpg" alt="" class="overlay">
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="main-footer">
        <h1>Footer Section</h1>
    </footer>
</body>
</html>