<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
     <!-- Iconos de font awesome -->
     <script src="https://kit.fontawesome.com/2913a10df8.js" crossorigin="anonymous"></script>
     <!--Tipologia-->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Lato:ital,wght@1,100&family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    
    <title>Service Dev - Register</title>
</head>
<body>
    
    <header class="header">

        <%- include('./partials/header') %>

    </header>
      
    <main>
       
        <!-- Registro de datos -->
        <form class="form" activon="/register" method="POST" enctype="multipart/form-data"> 
        <section class="contenedor-flex">
            <section class="section-datos1">
                <h2>ServDevolper</h2>
            </section>

           
            <section class="section-datos2">
                
                <h2>Registro Perfil</h2>
                 <div class="espacio">
                    <label><i class="fa-solid fa-user"></i>
                        <input class="border-input" type="text" name="name" placeholder="Nombre y Apellido" minlength="8"
                        maxlength="60">
                    </label>
                </div>
                
                <div class="espacio">
                    <label><i class="fa-solid fa-at"></i>
                        <input class="border-input" type="email" name="email" placeholder="email" required>
                             
                    </label>
                </div>

                <div class="espacio">
                    <label><i class="fa-solid fa-key"></i>  
                        <input class="border-input" type="password" name="password"  placeholder="Contraseña" minlength="8"
                        maxlength="12" required >
                    </label> 
                </div>

                <div class="espacio">
                    <label><i class="fa-solid fa-key"></i>  
                        <input class="border-input" type="password" name="confirm_pass"  placeholder="Confirmar contraseña" minlength="8"
                        maxlength="12" required>
                    </label> 
                </div>

                <div class="espacio">
                    <label for="foto_usuario"><i class="fa-solid fa-camera"></i>
                        <input  type="file" name="foto_usuario"  placeholder="Foto perfil">
                    </label> 
                </div>

                <div>
                    <label>
                        <input type="radio" name="type_user" value="ofrecer">
                        Ofrecer Servicio
                        <input type="radio" name="type_user" value="solicitar">
                        Solicitar Servicio
                    </label>

                </div>
                          
                <div>
                <button class="button" type="submit" class="button-style">Registrarme</button>
                </div>
            </section>   

        </form>
     
    </main>

    <footer>

        <%- include('./partials/footer.ejs') %>

    </footer>
</body>
</html>
