<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/register.css" rel="stylesheet" />
    
    <title>Service Dev - Register</title>
</head>
<body>
    <header>
      
    </header>
    <main>
        <form activon="/register.html" method="POST">
        <!-- Registro de datos -->
        <section class="section-datos">
            <h2>Registro Perfil</h2>
            <div class="espacio"><label for="nombre">Nombres:</label>
                <input class="border-input" type="text" name="nombre" required>
            </div>
            <div class="espacio"><label for="apellido">Apellidos:</label>
                <input type="text" name="apellido" required>
            </div> 
            <div class="espacio"><label for="fecha-nace">Fecha nacimiento:</label>
                <input type="date" name="fecha-nace" value="fecha-nace" required>
            </div>

            <div class="espacio"><label for="profesion">Profesión:</label> 
                <input type="text" name="profesion"  required>
            </div>
        </section>

        <section class="section-datos">
            <h2 for="perfil">Descripción Perfil:</h2>
            <textarea placeholder="Escriba brevemente su perfil" name="perfil"></textarea>
          
            <div><label>Adjuntar foto perfil:</label></div>
            <span><input type="file" name="foto" accept=".jpg"></span>
        

        </form>     
    </main>
</body>
</html>