<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service Dev - Register</title>
</head>
<body>
    <header>
        <img src="/img/logoPrincipal.png" alt="logo">
        <h1>Register</h1>
    </header>
    <main>
               
        <!-- Registro de datos -->
        <section>
            <span><label>Nombres:</label> </span>
            <span><label></label> Apellidos:</label></span>     
            <div><label>Contraseña:</label></div>
            <span><label>Descripción:</label></span>
            <span><label>Adjuntar foto perfil:</label></span>
                

        </section>
    </main>
</body>
</html>