<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/register.css" rel="stylesheet" />
    <link href="./css/header.css" rel="stylesheet" />
     <!-- Iconos de font awesome -->
     <script src="https://kit.fontawesome.com/2913a10df8.js" crossorigin="anonymous"></script>
     <!--Tipologia-->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Lato:ital,wght@1,100&family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    
    <title>Service Dev - Register</title>
</head>
<body>
    
    <header class="header">

        <%- include('./partials/header') %>

    </header>
      
    <main>
       
        <!-- Registro de datos -->
        <form class="form" activon="/register.html" method="POST"> 
        <section class="contenedor-flex">
            <section class="section-datos1">
                <h2>ServDevolper</h2>
            </section>

           
            <section class="section-datos2">
                
                <h2>Registro Perfil</h2>
                <div class="espacio">
                    <label><i class="fa-solid fa-user"></i>
                        <input class="border-input" type="text" name="nombre" placeholder="Nombre Completo">
                    </label>
                </div>
                
                <div class="espacio">
                    <label><i class="fa-solid fa-cake-candles"></i>
                        <input class="border-input" type="date" name="fecha-nace" placeholder="Fecha nacimiento" required>
                             
                    </label>
                </div>

                <div class="espacio">
                    <label><i class="fa-solid fa-user-tie"></i>
                        <input class="border-input" type="text" name="profesion"  placeholder="Profesión" required>
                    </label> 
                </div>
                <div><h2 for="perfil">Descripción Perfil:</h2>
                    <textarea class="textarea" placeholder="Escriba brevemente su perfil" name="perfil" rows="5" cols="30" ></textarea>
                </div>
            
                <div class="foto-perfil">
                    <label>Adjuntar foto perfil:</label>
                    <input type="file" name="foto" accept=".jpg">
                </div>

                <div>
                <button class="button" type="submit" class="button-style">Registrarme</button>
                </div>
            </section>   

        </form>
     
    </main>

    <!-- FOOTER
    <footer class="footer">
        <div class="main-container-footer">
            <h2>Contáctanos</h2>
            <div class="sub-main-footer-section">
                <div class="sub-section-footer">
                    <i class="fa-solid fa-handshake"></i>
                    <h4>Trabaja con nosotros</h4>
                </div>
    
                <div class="sub-section-footer">
                    <i class="fa-solid fa-newspaper"></i>
                    <h4>Términos y condiciones</h4>
                </div>
    
                <div class="sub-section-footer">
                    <i class="fa-solid fa-lock"></i>
                    <h4>Privacidad</h4>
                </div>
    
                <div class="sub-section-footer">
                    <i class="fa-solid fa-circle-info"></i>
                    <h4>Ayuda</h4>
                </div>
            </div>
            <p>Copyright ©&nbsp;2023-2024 Service-Dev</p>
        </div>
    </footer>
-->
<footer>
    <%- include('./partials/footer') %>
</footer>
</body>
</html>