<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/register.css" rel="stylesheet" />
    
    <title>Service Dev - Register</title>
</head>
<body>
    <header>
      
    </header>
    <main>
        <form activon="/register.html" method="POST">
        <!-- Registro de datos -->

        <section class="contenedor-flex">
            <section class="section-datos1">
                <h2>ServiceDev</h2>
            </section>

            <section class="section-datos2">
                <h2>Registro Perfil</h2>
                <div class="espacio"><label for="nombre">Nombres:</label>
                    <input class="border-input" type="text" name="nombre" required>
                </div>
                <div class="espacio"><label for="apellido">Apellidos:</label>
                    <input class="border-input" type="text" name="apellido" required>
                </div> 
                <div class="espacio"><label for="fecha-nace">Fecha nacimiento:</label>
                    <input class="border-input" class="border-input" type="date" name="fecha-nace" value="fecha-nace" required>
                </div>

                <div class="espacio"><label for="profesion">Profesión:</label> 
                    <input class="border-input" class="border-input" type="text" name="profesion"  required>
                </div>
                <div><h2 for="perfil">Descripción Perfil:</h2>
                    <textarea placeholder="Escriba brevemente su perfil" name="perfil" rows="5" cols="30" ></textarea>
                </div>
            
                <div>
                    <label>Adjuntar foto perfil:</label>
                    <input type="file" name="foto" accept=".jpg">
                </div>
        </section>

        </form>     
    </main>
</body>
</html>