<div class="main-container-footer">
    <h2>Contactanos</h2>

    <div class="sub-main-footer-section">
        <div class="sub-section-footer">
            <i class="fa-solid fa-handshake"></i>
            <h4>Trabaja con nosotros</h4>
        </div>

        <div class="sub-section-footer">
            <i class="fa-solid fa-newspaper"></i>
            <h4>Términos y condiciones</h4>
        </div>

        <div class="sub-section-footer">
            <i class="fa-solid fa-lock"></i>
            <h4>Privacidad</h4>
        </div>

        <div class="sub-section-footer">
            <i class="fa-solid fa-circle-info"></i>
            <h4>Ayuda</h4>
        </div>
    </div>
    <p>Copyright 2023-2024 ServiceDev</p>
</div>