<!-- Header section -->

    <a href="#" class="logo">
        <img class="logo-image" src="images/logo-principal.png" alt="Logo">
    </a>
    <!-- NavBar -->
    <nav class="navbar">
        <a href="#home">Inicio</a>
        <a href="#services">Desarrolladores</a>
        <a href="#logIn">Registrarse</a>
        <a href="#register">LogIn</a>
    </nav>
    <!-- Icons -->
    <div class="icons">
        <div> <i class="fa-solid fa-cart-shopping" id="cart-btn"></i> </div>
        <div> <i class="fa-solid fa-bars" id="allServices-btn"></i> </div>
    </div>
