

<!--  HEADER LOGIN -->

<header>

    <div class="logo">
        <a href="/">
            <img src="/images/logo-principal.png" alt="logo">
        </a>
    </div>

    <ul>
        <li><a href="/index">Inicio</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Contratar</a></li>
        <li><a href="/register">Registrarse</a></li>
        <li><a href="/login">Login</a></li>
    </ul>

</header>