
<!-- Header section -->

    <a href="/" class="logo">
        <img class="logo-image" src="images/logo-principal.png" alt="Logo">
    </a>
    <!-- NavBar -->
    <nav class="navbar">
        <a href="/">Inicio</a>
        <a href="/services">Desarrolladores</a>
        <a href="/register">Registrarse</a>
        <a href="/login">LogIn</a>
        <a href="/service-create-form">Nuevo Servicio</a>
    </nav>
    <!-- Icons -->
    <div class="icons">
        
        <div> 
            <a href="/services/productCart"><i class="fa-solid fa-cart-shopping" id="cart-btn"></i> </a> 
        </div>
        <div> 
            <i class="fa-solid fa-bars" id="allServices-btn"></i> 
        </div>
    </div>
